/* CSS RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* GENERALI */

body {
    font-family: "Open Sans", sans-serif;
}

.container {
    width: 1200px;
    margin: 0 auto;
    display: flex;
}

ul {
    list-style: none;
}


/* HEADER */

header {
    height: 100px;
    display: flex;
}

header * {
    justify-content: space-between;
    align-items: center;
}

.dc-logo {
    width: 60px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    font-size: 10px;
    font-weight: bold;
}

.navbar li {
    position: relative;
}

.navbar a {
    text-decoration: none;
    color: gray;
}

.barra-hover {
    position: absolute;
    background-color: rgb(5, 132, 250);
    width: 100%;
    height: 4px;
    margin-top: 40px;
    display: none;
}

.navbar a:hover {
    color: rgb(5, 132, 250);
    cursor: pointer;
}

.navbar li:hover .barra-hover {
    display: block;
}


/* MAIN */

/* Jumbotron */

.jumbo {
    height: 270px;
    background-size: cover;
    background-image: url("/img/jumbotron.jpg");
}

/* Sezione contenuti */

.content-section {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    padding: 20px;
}

.cards-container {
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.comic-card {
    width: calc(100% / 6 - 20px);
    color: white;
    text-align: center;
}

.comic-card img {
    height: 130px;
    width: 100%;
    object-fit: cover;
    object-position: top
}

.content-section .container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.content-section label,
.content-section button {
    background-color: rgb(5, 132, 250);
    width: fit-content;
    color: white;
}

.content-section label {
    position: absolute;
    transform: translate(0, -100%);
    padding: 4px 14px;
}

.content-section button {
    margin: 0 auto;
    border: none;
    padding: 5px 40px;
    cursor: pointer;
}

/* Sezione Info */

.info-section {
    background-color: rgb(5, 132, 250);
    height: 100px;
    font-size: 12px;
    color: white;
    display: flex;
}

.info-section ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.info-section li {
    display: flex;
    align-items: center;
    gap: 5px;
}

.info-section img {
    height: 40px;
    width: 40px;
    object-fit: contain;
}


/* FOOTER */

footer {
    color: white;
}

.footer-lists {
    background-image: url("/img/footer-bg.jpg");
    height: 350px;
    overflow: hidden;
}

.el-1,
.el-2,
.el-3 {
    margin-right: 40px;
    margin-top: 40px;
}

.footer-lists li {
    font-size: 12px;
    color: gray;
    margin-bottom: 5px;
}

.footer-lists h3 {
    margin-bottom: 20px;
}

.footer-lists .container {
    position: relative;
}

.bg-logo {
    position: absolute;
    width: 500px;
    left: 50%;
    top: -20%;
}

/* Bottom Bar */

.bottom-bar {
    height: 100px;
    background-color: rgb(48, 48, 48);
    display: flex;
}

.bottom-bar * {
    justify-content: space-between;
    align-items: center;
}

.signup-btn {
    border: 2px solid rgb(5, 132, 250);
    background-color: rgb(48, 48, 48);
    color: white;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
}

.bottom-bar p {
    color: rgb(5, 132, 250);
    font-weight: bold;
}

.contacts {
    display: flex;
    gap: 20px;
}