/* CSS RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* GENERALI */

body {
    font-family: "Open Sans", sans-serif;
}

.container {
    width: 1200px;
    margin: 0 auto;
    display: flex;
}

ul {
    list-style: none;
}


/* HEADER */

header {
    height: 100px;
    display: flex;
}

header * {
    justify-content: space-between;
    align-items: center;
}

.dc-logo {
    width: 60px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    font-size: 10px;
    font-weight: bold;
}

.navbar li {
    position: relative;
}

.barra-hover {
    position: absolute;
    background-color: rgb(5, 132, 250);
    width: 100%;
    height: 4px;
    margin-top: 40px;
    display: none;
}

.navbar li:hover {
    color: rgb(5, 132, 250);
    cursor: pointer;
}

.navbar li:hover .barra-hover {
    display: block;
}


/* MAIN */

/* Sezione contenuti */

.content-section {
    background-color: black;
    color: white;
    height: 100px;
    display: flex;
    align-items: center;
}

.info-section {
    background-color: rgb(5, 132, 250);
    height: 100px;
    gap: 20px;
    font-size: 12px;
    color: white;
    display: flex;
    justify-content: space-between;
}

/* Sezione Info */

.info-section ul {
    display: flex;
    margin-left: 40px;
    justify-content: space-between;
    width: 100%;
}

.info-section li {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: space-between;
}

.info-section img {
    height: 40px;
    width: 40px;
    object-fit: contain;
}


/* FOOTER */

footer {
    color: white;
}

.footer-lists {
    background-image: url("/img/footer-bg.jpg");
    height: 350px;
}

.el-1,
.el-2,
.el-3 {
    margin-right: 40px;
    margin-top: 40px;
}

.footer-lists li {
    font-size: 12px;
    color: gray;
    margin-bottom: 5px;
}

.footer-lists h3 {
    margin-bottom: 20px;
}

.footer-lists .container {
    position: relative;
}

.bg-logo {
    position: absolute;
    width: 500px;
    left: 50%;
    top: -20%;
}

/* Bottom Bar */

.bottom-bar {
    height: 100px;
    background-color: rgb(48, 48, 48);
    display: flex;
}

.bottom-bar * {
    justify-content: space-between;
    align-items: center;
}

.signup-btn {
    border: 2px solid rgb(5, 132, 250);
    background-color: rgb(48, 48, 48);
    color: white;
    padding: 10px;
    font-weight: bold;
}

.bottom-bar p {
    color: rgb(5, 132, 250);
    font-weight: bold;
}

.contacts {
    display: flex;
    gap: 20px;
}